{% extends './../base.html' %}
{% load static %}

{% block title %}
<title>Jugador</title>
{% endblock %}

{% block titulo %}
  Informacion del jugador

{% endblock %}


{% block lead %}
    Nombre:    {{ object.nombre }} <br>
    Apellido:    {{ object.apellido }} <br>
    Fecha Nacimento:    {{ object.fecha_de_nacimiento }} <br>

    <h2> Acciones </h2>
    <a href="{% url 'consultorio:lista-jugadores' %}" class="btn  btn-primary">
    Volver a la lista de jugadores
    </a>
    <a href="{% url 'consultorio:eliminar-jugador' object.uniqueId %}" class="btn  btn-danger">
    Eliminar jugador
    </a>

    <form method="post" action="{% url 'consultorio:eliminar-jugador' object.uniqueId %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
{% endblock %}
