{% extends './base.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block lead %}
"Somos una familia constituida desde el año 2011, promoviendo el baloncesto en niños, niñas y jóvenes de Medellín y participando en cientos de torneos a nivel nacional e internacional, formando deportistas para la selección Antioquia y Colombia con el fin de lograr becas universitarias en Colombia y algunas universidades de Estados Unidos. Nuestra MISIÓN es potenciar las cualidades de niños, niñas y jóvenes brindando oportunidades de crecimiento para la vida, a través de un acompañamiento integral de la familia, entrenadores y equipo, por medio del baloncesto. Misión que nos hace VISIONARIOS de llegar a un 2024 con un modelo deportivo y una filosofía de vida aplicada a través del baloncesto en diferentes ciudades de Colombia."
<br><a class="btn btn-lg btn-secondary" href="https://www.clubpromesas.com/">Club Promesas</a>
<br><a href="https://www.clubpromesas.com/copapromesas/">informacion copa promesas</a>
{% endblock %}