{% extends './base.html' %}
{% load static %}

{% block title %}
<title>Jugador</title>
{% endblock %}

{% block titulo %}
  Informacion de los jugadores

{% endblock %}


{% block lead %}


<div class="container">
    <h2>Lista de jugadores</h2>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>apellido</th>
          <th>Edad</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        {% for jugador in jugador_list %}
        <tr>
            <td><a href="{% url 'consultorio:detalle-jugador'  jugador.uniqueId %}">
                {{ jugador.nombre }} 
            </a></td>
            <td>{{jugador.apellido}}</td>
            <td>{{jugador.age}}</td>
            <td>{{jugador.categoria}}</td>
          </tr>
          
    {% endfor %}
      </tbody>
    </table>
  </div>
  
    <a href="{% url 'consultorio:crear-jugadores' %}" class="btn btn-lg btn-success">
    Crear jugadores
    </a>

{% endblock %}

