{% extends './base.html' %}
{% load static %}

{% block title %}
<title>Jugador</title>
{% endblock %}

{% block titulo %}
  Informacion de los jugadores

{% endblock %}


{% block lead %}

<h1>
    lista de jugadores:
</h1>
{% for jugador in jugador_list %}
    <a href="{% url 'consultorio:detalle-jugador'  jugador.uniqueId %}">
        {{ jugador.nombre }} -- {{ jugador.apellido }}
    </a><br>
{% endfor %}

    <a href="{% url 'consultorio:crear-jugadores' %}" class="btn btn-lg btn-success">
    Crear jugadores
    </a>

{% endblock %}

